<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration>

<configuration>
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <filter class="land.oras.ConsoleLogFilter" >
            <level>DEBUG</level>
        </filter>
        <encoder>
            <pattern>%msg %n</pattern>
        </encoder>
    </appender>
    <root level="DEBUG">
        <appender-ref ref="CONSOLE"/>
    </root>
    <logger name="land.oras" level="DEBUG"/>
</configuration>
